.extended-fab-button {
  width: unset;
  padding: 0 26px;
  border-radius: 29px;
}

.center-button-width {
  margin-left: -6rem;
}

.fab-btn {
  position: fixed;
  bottom: 3rem;
  width: 50%;
    --box-shadow: 0px 4px #88888887;
}
