.btn-bigger {
    margin-top: 2rem;
    height: 5rem !important;
    font-size: 1.75rem;
  }

  .vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

  #descript-p{
      font-size: 1.25rem;
      font-weight: 400;
      margin-top: 3rem;
  }

#choose-profile-buttons-container {
    padding-top: 2rem;
    padding-bottom: 6rem;
}  