.image-center{
    margin:0 auto;
}

.style-comment-col{
    border: #16a3b2 1px solid;
    border-radius: 1rem;
    padding: 0.75rem;
}

#comment-puntuation-container {
    background-color: #16a3b22e;
}

#comment-container {
        font-size: 0.95rem;
        font-style: italic;
        line-break: auto;
        opacity: 90%;
}