#toolbar-login{
    background-color: #16a3b2 !important;
}

#good-luck-font{
    font-size: 1.5rem;
    color: #16a3b2 !important;
    font-style: italic;
}


p{
    font-size: 15px;
    font-weight: normal;
    line-height: 1.75;
    text-align: center;
}