.map-container {
    width: 97%;
    height: 40%;
    position: relative;
  }


ion-textarea{
    border: 2px solid #ffc641;
}

//Alert
.alert-wrapper.ion-overlay-wrapper.sc-ion-alert-md {
    background-color: snow;
}

