<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button ion-button icon-only (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile Photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" class="radio-button mg-075rem text-align-center btn-bigger" color="danger" (click)="uploadPhotoFromCamera()">
          <p>From Camera</p>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full" class="radio-button mg-075rem text-align-center btn-bigger" color="danger" (click)="uploadPhotoFromGallery()">
          <p>From Gallery</p>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
