<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button ion-button icon-only (click)="goBackPage()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>COMPLAIN OR REGRET</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content text-center class="vertical-align-content" color="tertiary">
  <ion-card class="bg-white ion-text-center">
    <ion-grid>
      <ion-row>
      </ion-row>
      <ion-row>
          <ion-col>
              <div id="profile-description">
                <p class="color-aquamarine font-tegomin2 fs-1rem fw-600 border-white">
                  PLEASE, CHOOSE WHICH OPTION IS THE BEST FOR WHAT YOU WANT TO DO
                </p>
              </div>

              <div id="choose-profile-buttons-container" class="container">
              <ion-button expand="full" class="radio-button mg-075rem text-align-center btn-bigger" color="danger" (click)="goOnModeComplain()">
                <p>COMPLAIN</p>
              </ion-button>

              <ion-button expand="full" class="radio-button mg-075rem text-align-center btn-bigger" color="success" (click)="goOnModeRegret()">
                <p>REGRET</p>
              </ion-button>
            </div>
          </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>
</ion-content>
